html,body {
  overflow-x: hidden;
}
body {
  padding-top: 4rem;

  background-color: rgb(230, 206, 129);
}
.navbar {
  background-color: rgb(0, 0, 120)!important;
  height: 4rem;
  padding-left: 0px!important;


}

img {
  width: 100%;
  height: auto;
}
.container {
  padding-left: 0px!important;
  padding-right: 0px!important;
  margin-left: inherit!important;
  margin-right: inherit!important;
  max-width: 100%!important;
}


.navbar {

  padding-left: 10px!important;

}
.nav-item {
  width: 150px;
  font-size: 1.5em;
  float: right;

}
.navbar-nav a:hover{
background-color: rgb(213, 213, 235);
color: rgb(0,0,120)!important;
border-radius: 25px!important;
font-weight: bold;

}

.navbar-brand {
  position: absolute; right: 0px;
}
.navbar-nav {
  margin-left: 1.5vw;
}

.carousel-indicators img{
    position: absolute;
    width: 100%;
    border-radius: 50%;
    height: 100%;
    top: 0;
    left: 0;
}

.carousel-indicators li, .carousel-indicators li.active{
    width: 70px;
    height: 13px;
    position: relative;
    margin: 10px;
}

h2
{
position: absolute;
top: 45%;
left: 38%;
width: 100%;
align-self: auto;
}

h2 span
{
color: white;
font: bold 44px/45px Helvetica, Sans-Serif;
letter-spacing: -1px;
background: rgb(0, 0, 0);
background: rgba(0, 0, 0, 0.6); padding: 10px;
}
h2 span.spacer { padding:0 5px; }

=======
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 0, 120);
  color: white;
  text-align: left;
}
img.footer {
  max-width: 100%!important;
  height: auto;
  text-align: right;

}
iframe {
  position: absolute;
  right: 5rem;
}
._newsletterSubscribeForm {
    background-color: transparent;
    background-image: none;
    border-bottom: 1px solid #rgb(0, 0, 0);
    font-size: 15px;
    letter-spacing: .2px;
    line-height: 20px;
    height: 35px;
    margin: 0 auto;
    text-align: left;
    width: 50%;
    z-index: 1;
    font-weight: 400;
  }
